/* Color Scheme
Navy Blue #18121E
Gun Metal #233237
Rusty Red #984B43
Warm Yellow #EAC67A */

body,
html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
}

#header img {
    display: inline-block;
    margin-left: 20px;
}

h1 {
    display: inline-block;
    font-family: 'Amatic SC', cursive;
    font-size: 150px;
    color: #18121E;
    /* text-align: center; */
    margin: 0 auto;
    margin-left: 20px;
}

h2 {
    color: #18121E;
    text-align: center;
    padding: 10px;
}

h3 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 40px;
    color: #984B43;
    margin: 0 auto;
    margin-bottom: 15px;
}

#headDetails {
    color: #EAC67A;
}

input {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 16px;
}

button {
    background-color: #233237;
    font-family: 'Ubuntu Condensed', sans-serif;
    border: none;
    border-radius: 4px;
    color: #EAC67A;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: 15% 15% 35% 35%;
    grid-template-areas:
        "header header header"
        "search search recent"
        "results results weather"
        "details trailImage trailImage"
        "footer footer footer";
}

.item-1 {
    grid-area: header;
    background-image: url(../images/nourdine-diouane-77072-unsplash-cropped.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.item-2 {
    grid-area: search;
    margin-left: 20px;
    padding: 10px;
}

.item-3 {
    grid-area: results;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.item-4 {
    grid-area: details;
    margin-left: 20px;
    padding: 10px;
}

.item-5 {
    grid-area: recent;
    margin: 0px 20px 20px 20px;
    padding: 10px;
}

.item-6 {
    grid-area: weather;
    margin: 0px 20px 20px 20px;
    padding: 10px;
}

.item-7 {
    grid-area: trailImage;
    margin-right: 20px;
    padding: 10px;
}

.item-8 {
    grid-area: footer;
    height: 100px;
    padding: 10px;
}

#results {
    border-color: #EAC67A;
    border-style: solid;
    border-width: 2px;
    color: #233237;
}

.headResults {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 8px 4px;
    border-bottom: 1px solid #EAC67A;
}

#trailResults {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#trail {
    padding: 8px 4px;
    border-bottom: 1px solid #EAC67A;
}

#weather {
    border-color: #EAC67A;
    border-style: solid;
    border-width: 2px;
    color: #233237;
}

#weatherConditions {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#weatherResults {
    padding: 8px 4px;
    border-bottom: 1px solid #EAC67A;
}

#details {
    background-origin: content-box;
    background-color: #984B43;
    font-size: 18px;
    color: #EAC67A;
    line-height: 30px;
}

#hikeImage {
    background-color: #984B43;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

thead {
    text-align: left;
    font-size: 20px;
}

th {
    padding: 10px 50px 10px 0px;
}

td {
    padding: 10px 50px 10px 0px;
    border-top: 1px dotted #EAC67A;
}

tr {
    border-top: 1px solid #EAC67A;
}

footer {
    max-width: 100%;
    font-size: 10px;
    color: #EAC67A;
    background-color: #233237;
    margin-top: 20px;
    text-align: center;
}

.recentSearchText {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 20px;
    color: #233237;
    margin: 0 auto;
    margin-bottom: 15px;
}

a:link {
    color: #EAC67A;
}

/* mouse over link */
a:hover {
    color: #EAC67A;
}

@media (max-width: 980px) {
    .container {
        display: grid;
        grid-template-columns: 50% 15% 35%;
        grid-template-rows: 15% 15% 35% 35%;
        grid-template-areas:
            "header header header"
            "search search recent"
            "weather weather weather"
            "results results results"
            "details trailImage trailImage"
            "footer footer footer";
    }
}

/* Responsive sizing for iPhone or similar */

@media (max-width: 500px) {
    input {
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 12px;
    }
    
    button {
        background-color: #233237;
        font-family: 'Ubuntu Condensed', sans-serif;
        border: none;
        border-radius: 4px;
        color: #EAC67A;
        font-size: 12px;
    }

    .container {
        display: grid;
        grid-template-columns: 50% 15% 35%;
        grid-template-rows: 15% 15% 35% 35%;
        grid-template-areas:
            "header header header"
            "search search recent"
            "weather weather weather"
            "results results results"
            "details trailImage trailImage"
            "footer footer footer";
    }

    .item-1 {
        grid-area: header;
        background-image: url(../images/nourdine-diouane-77072-unsplash-cropped.jpg);
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    
    .item-2 {
        grid-area: search;
        margin-left: 5px;
        padding: 10px;
    }
    
    .item-3 {
        grid-area: results;
        margin: 0px 5px 5px 5px;
        padding: 10px;
    }
    
    .item-4 {
        grid-area: details;
        margin-left: 5px;
        padding: 10px;
    }
    
    .item-5 {
        grid-area: recent;
        margin: 0px 5px 5px 5px;
        padding: 10px;
    }
    
    .item-6 {
        grid-area: weather;
        margin: 0px 5px 5px 5px;
        padding: 10px;
    }
    
    .item-7 {
        grid-area: trailImage;
        margin-right: 5px;
        padding: 10px;
    }
    
    .item-8 {
        grid-area: footer;
        height: 50px;
        padding: 10px;
    }

    h1 {
        display: inline-block;
        font-family: 'Amatic SC', cursive;
        font-size: 60px;
        color: #18121E;
        /* text-align: center; */
        margin: 0 auto;
        margin-left: 20px;
    }

    h2 {
        color: #18121E;
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }

    h3 {
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
        font-size: 18px;
        color: #984B43;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    img {
        max-width: 100%;
        height: 60px;
        align-content: flex-end;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #recent {
        font-size: 8 px;
    }

    #recenthtml1, #recenthtml2 {
        font-size: 10px;
        margin: 0 auto;
        padding: 1px;
    }

    trail {
        font-size: 10px;
    }

    #details {
        background-origin: content-box;
        background-color: #984B43;
        font-size: 8px;
        color: #EAC67A;
        line-height: 15px;
    }

    .headResults {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 8px 4px;
        border-bottom: 1px solid #EAC67A;
        font-size: 8px;
    }
    
    #trailResults {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        font-size: 8px
    }
    
    #trail {
        padding: 8px 4px;
        border-bottom: 1px solid #EAC67A;
    }

    #weatherConditions {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: 8px;
    }

    #weather {
        padding: 8px 4px;
        border-bottom: 1px solid #EAC67A;
    }
}